.buddy-chat {
  min-height: 90vh;
  background: #ebebeb;
  padding: 20px;
}

.toggle-availability {
  width: 80%;
  margin: 10px auto;
  padding: 10px;
  background: #fff;
  border-radius: 10px;
  text-align: right;
}
